body {
	background-color: #000000;
	color: lightgray;
	font-size: 28px;
	font-family: 'Inconsolata';
}

#content{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#password{
	width: 1000px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
}

#graphic{
	float: left;
	width: 500px;
	text-align: center;
	min-height: 280px;
}

#alphabet{
	float: left;
	width: 500px;
	text-align: center;
	min-height: 280px;
}
/*
	cursor: pointer; daje ze kursor pokaze ze da sie to kliknac, a radius zaokragla
*/
.letter{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}
/*
	hover czyli co sie staje po najechaniu
*/
.letter:hover{
	background-color: #222222;
	color: white;
	border: 3px solid white;
}

.wrong{
	background: #330000;
	color: #C00000;
	border: 3px solid #C00000;
	cursor: default;
}

.correct{
	background: #06091B;
	color: #001355;
	border: 3px solid #001355;
	cursor: default;
}
